#map {
	width:100%;
	min-height: 100px;
	position:relative;
	border-top:none;
}

.marineArea {
	fill : #FF661B;
	fill-opacity:0.9;
	stroke:#FF661B;
	stroke-opacity: 0.9;
	fill-rule:nonzero;
}

.rfmoMarineArea {
	fill : #24a6cf;
	fill-opacity:0.7;
	stroke:#24a6cf;
	stroke-opacity: 0.9;
	fill-rule:evenodd;
}

.limit200nm {
	fill : none;
	stroke:#888888;
	stroke-opacity: 0.8;
}

.countryHigh {
	fill : #AD390E !important;
	fill-opacity:1 !important;
	stroke:#8D1900 !important;
	stroke-opacity: 1 !important;
}

.focusedCountry {
	fill : #FF661B !important;
	stroke : #FFFFFF !important;
}

.backgroundLand {
	fill: #4a3b2a;
	fill-opacity: 1;
	stroke:#f1dbca;
	stroke-opacity:1;
}

#sphere {
  stroke: #24a6cf;
  stroke-width: 2px;
  fill: #e0e1e4;
}

.stroke {
  fill: none;
  stroke: #24a6cf;
  stroke-width: 2px;
}

.fill {
  fill: #e0e1e4;
}
