#map {
	width:100%;
	min-height: 100px;
	position:relative;
	border-top:none;
}

.marineAreaHatched {
	fill:url(../../index.html#pattern-stripe);
	fill-opacity:0.7;
	stroke:#24a6cf;
	stroke-opacity: 0.2;
}
.marineArea {
	fill : #24a6cf;
	fill-opacity:0.7;
	stroke:#24a6cf;
	stroke-opacity: 0.2;
	fill-rule:evenodd;
}

.limit200nm {
	fill : none;
	stroke:#888888;
	stroke-opacity: 0.8;
}

.countryHigh {
	fill : #3dd5a8;
	fill-opacity:0.25;
	stroke:#3dd5a8;
	stroke-opacity: 0.5;
}

.backgroundLand {
	fill: #4a3b2a;
	fill-opacity: 1;
	stroke:#f1dbca;
	stroke-opacity:1;
}

#sphere {
  stroke: #24a6cf;
  stroke-width: 2px;
  fill: #e0e1e4;
}

.stroke {
  fill: none;
  stroke: #24a6cf;
  stroke-width: 2px;
}

.fill {
  fill: #e0e1e4;
}
